<link rel="stylesheet" href="/css/_post.css" />
<% if ( postId == post.user.id){ %>
<li id="post-<%= post._id %> " class="postLi">
  <p>
    <%if(locals.user.id==post.user.id){%>
    <small>
      <a class="delete-post-button" href="/posts/destroy/<%= post.id %>"
        ><img
          src="https://www.flaticon.com/svg/static/icons/svg/1828/1828843.svg"
          alt="X"
          style="height: 20px; width: 20px"
      /></a>
    </small>
    <%}%>
    <!-- <a href="/users/profile/<%= post.user.id %>"> </a> -->
    <a href="/users/profile/<%= post.user.id %>"><img class="post-user-avatar" src="<%=post.user.avatar%>" alt="" /> </a>
    <div class="post-user-desc">
      <small class="post-user-name"> <%= post.user.name %> </small>
<br>
      <small class="post-user-time"> <%= post.createdAt %> </small>
    </div>
    <div class="post-content">
      <h4><%= post.heading %> </h2>
      <%= post.content %> </div>
    <br />
    <small>
      <% if (locals.user){ %>
      <button
        class="toggle-like-button"
        data-likes="<%= post.likes.length %>"
        href="/likes/toggle/?id=<%=post._id%>&type=post"
      >
        <%= post.likes.length %> Likes
      </button>
      <% }else{ %> <%= post.likes.length %> Likes <% } %>
    </small>
  </p>
  <div class="post-comments">
    <% if (locals.user){ %>
    <!-- let's give an id to the new comment form, we'll also need to make the same changes in home_posts.js where we're adding a post to the page -->
    <form
      id="post-<%= post._id %>-comments-form"
      action="/comment/create"
      method="POST"
    >
      <input
        type="text"
        name="content"
        placeholder="Type Here to add comment..."
        required
        class="form-comment-content"
      />
      <input class="commentSubmit" style="background-color: transparent;border-radius: 10px;" type="submit" value="Add" class="form-comment-submit" />
      <input type="hidden" name="post" value="<%= post._id %>" />
    </form>

    <% } %>
    <div class="post-comments-list">
      <ul id="post-comments-<%= post._id %>">
        <% for (comment of post.comment){%> <%- include('_comment') -%> <%} %>
      </ul>
    </div>
  </div>
</li>
<% } %>

